/* Common items */
body {
    font-family: 'Lemonada', cursive;
    font-size: 14px;
}

th {
    background-color: #38404b;
    color: white;
}

.full {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.panel-transparent {
    background: none;
}

/* Overriding some bootstrap styles here */
/* Make the jumbotron fonts smaller */
.jumbotron {
    padding: 10px;
    background-color: #2e73b8;
    color: white;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

img {
    margin: 5px 5px;
    padding: 3px;
    border: 2px outset whitesmoke;
}

/* for the maps markers and popups*/
.marker {
    background-image: url("../images/rocket-15.svg");
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
}

.modal-backdrop.fade.in {
    z-index: 0;
}

.modal-dialog {
    margin-top: 10%;
}

.artist-button {
    margin: 3px;
    background-color: #38404b;
}