/* Common items */
body {
    font-family: 'Open sans', sans-serif;;
    font-size: 14px;
}

/*hack to overcome a small ccolumn that was appearing on the right side of the sccreen*/
html, body {
    overflow-x: hidden;
}

th {
    background-color: #38404b;
    color: white;
}

/*new background image*/
.full {
    background: url('../images/concert.png') no-repeat center fixed;
    background-size: cover;
}

/* Overriding some bootstrap styles here */
/* Make the jumbotron fonts smaller */
.jumbotron {
    padding: 10px;
    background-color: #2e73b8;
    color: white;
    margin-bottom: 0;
}

/*changes to jumbotron heading*/
.jumbotron h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 300%;
    letter-spacing: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

/*styling tagline*/
.jumbotron p {
    font-size: 20px;
}

.search-saved-row {
    margin-top: 50px;
}

#artist-input,
#start-date-input,
#end-date-input {
    height: 40px;
}

.artist-label,
.date-label {
    margin-top: 10px;
}

#search-events {
    margin: 0;
    width: 100px;
    height: 40px;
}

#my-artists-buttons {
    padding: 2px;
}

img {
    margin: 5px 5px;
    padding: 3px;
    border: 2px outset #808080;
    border-radius: 3px;
}

/* for the maps markers and popups*/
div.mapbox {
    border: solid;
    border-width: 1px;
    border-color: royalblue;
    border-radius: 5px;
}

.marker {
    background-image: url("../images/rocket-15.svg");
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-map {
    padding: 0px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

.modal-backdrop.fade.in {
    z-index: 0;
}

.modal-dialog {
    margin-top: 10%;
}

/* artist buttons styling */
.artist-button {
    margin: 4px 0 4px 4px;
    background-color: #38404b;
}

.artist-button:hover {
    background-color: #38404b;
}

/* artist remove buttons styling */
.remove-button {
    margin: 4px 4px 4px 0;
    background-color: #38404b;
}

.remove-button:hover {
    background-color: #38404b;
}

/* Media queries for responsive layout on smaller screen sizes */
@media screen and (min-width: 991px) and (max-width: 1199px) {
    .search-button-div {
        padding-left: 0;
    }

    .artist-label,
    .date-label {
        font-size: 12px;
        text-align: right;
    }

    .date-label {
        margin-top: 0;
    }
}

@media screen and (min-width: 478px) and (max-width: 990px) {
    .social-div {
        margin-right: 25%;
    }

    #end-date-input {
        margin: 10px 0px;
    }

    #search-events {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 477px) {
    #end-date-input {
        margin: 10px 0px;
    }

    #search-events {
        width: 100%;
        margin: auto;
    }

    .jumbotron h1 {
        font-size: 20px;
        letter-spacing: 5px;
    }

    th, td, #currClock {
        font-size: 10px;
    }

    #currClock {
        padding-top: 5px;
    }

    b {
        font-size: 12px;
    }

}